.circular-color-box {
  background: radial-gradient(circle, white, black, white, black, white, black);
  background-size: 500% 500%;
  animation: animateBg 12s infinite linear;
}

@keyframes animateBg {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 100% 0%;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  display: flex;
  gap: 1rem;
  animation: scroll 150s linear infinite; /* Adjust timing as needed */
}

.logos {
  display: flex;
  width: max-content;
}

/* Card */

.carousel {
  display: flex;
  overflow: hidden;
  gap: 10px; /* Adjust spacing between cards */
}

.carousel-card {
  flex: 1;
  min-width: 0;
  /* Add other styles for your card */
}

button {
  margin: 10px;
}
